body{
    font-family: Verdana, Tahoma, sans-serif;
    background-color: hsl(1, 0%, 90%);
}

.title {
    text-align: center;
    color: hsl(0, 0%, 10%);
    background-color: hsl(60, 41%, 77%);
    font-weight: bold;
    font-size: 48px;
}

#site-title {
    font-size: 68px;
}

.recipe-list a {
    font-size: 20px;
}

ul.recipe-list {
    text-align: center;
    list-style: none;
}

.recipe-img {
    display: block;
    width: 95%;
    margin: 0 auto 0 auto;
    max-width: 900px;
}

h2, h3, p, ul, ol {
    text-align: left;
    color: hsl(0, 0%, 20%);
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}